.*/**
.*ignore
src/**
out/**
node_modules/**
.gitmodules
vsc-extension-quickstart.md
README.*.md
webpack.config.js
.yarnrc
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.DS_store

.github/

!node_modules/emulators*/package.json
!node_modules/emulators/dist/w*.*
!node_modules/emulators-ui/dist/*.*
**/test/

web/
!web/dist/index.js

dev/

emu
!emu/dosbox
!emu/dosbox_x
!emu/msdos_player
