# ignore vscode settings
.vscode/**
# ignore test
.vscode-test/**
# ignore source code,docs and maps
src/**
**/*.map
**/*.ts
i18n
#ignore dev files
**/node_modules
**.gitignore
**/tsconfig.json
**/.eslintrc.json
**/.eslintignore
gulpfile.js
webpack.config.js
# doc pic license samples
doc/
*/**.md
pics/
LICENSE
samples/

# only package some file of tools folder to control the package size
tools/**.log
#dosbox
tools/dosbox/dosbox-0.74.conf
tools/dosbox/std*.txt
#jsdos
tools/js-dos/*.*
