# ignore vscode settings
.vscode/**
# ignore test
.vscode-test/**
# ignore i18n
i18n
README.*.md
#ignore dev files
src/**
**/*.map
**/*.ts
**/node_modules
**.gitignore
**/azure-pipelines.yml
**/tsconfig.json
**/.eslintrc.json
**/gulpfile.js
**/webpack.config.js
# doc pic license samples
doc/
**/**.md
pics/
LICENSE
samples/

# only package some file of tools folder to control the package size
tools/**.log
#dosbox
tools/dosbox/dosbox-0.74.conf
tools/dosbox/std*.txt
#jsdos
tools/js-dos/*.*
tools/js-dos/resources/*.zip
