# ignore vscode settings
.vscode/**
# ignore test
.vscode-test/**
out/test/**
# ignore unarchieved feature
dist/**
# ignore source
src/**
#ignore dev files
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
gulpfile.js
# doc pic license
doc/
pics/
LICENSE
# ignore tools and files of ext
scripts/work/*
!scripts/work/ignore.txt
tools/dosbox/dosbox-0.74.conf
tools/boxasm.bat
scripts/VSC-ExtUse.conf
# ignore i18n
i18n
Themes