.github/
.vscode/**
.vscode-test/**
.vscode-test-web/**
src/
doc/
pics/
dev/
samples/

**/test/**

**/*.map
**/*.ts
**/*.md
!README.md
!CHANGELOG.md
!resources/hoverinfo.md

**/.gitignore
**/azure-pipelines.yml
**/tsconfig.json
**/.eslintrc.json
**/gulpfile.js
**/webpack.config.js

.vscodeignore

yarn.lock


