.*/**
.*ignore
src/**
out/**
node_modules/**
.gitmodules
vsc-extension-quickstart.md
README.*.md
webpack.config.js
.yarnrc
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.DS_store

.github/

**/test/

dev/

