.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ground-selectors {
  grid-area: selectors;
}
.ground-buttons {
  grid-area: buttons;
}
.control-buttons {
  float: right;
}
.ground-dosbox {
  grid-area: dosbox;
}
.ground-editor {
  grid-area: editor;
  overflow: auto;
  height: 80vh;
}

.popup-stdout {
  font-family: monospace;
  overflow: visible;
}

@media only screen and (orientation: portrait) {
  .ground-Container {
    display: grid;
    grid-template-areas:
      "selectors buttons"
      "dosbox dosbox"
      "editor editor";
  }
}

@media only screen and (orientation: landscape) {
  .ground-Container {
    display: grid;
    grid-template-areas:
      "selectors buttons"
      "dosbox editor";
    grid-template-columns: 50% auto;
    grid-gap: 1%;
    padding: 10px;
  }
}

footer {
  text-align: center;
  width: 100%;
}
